<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Админ-панель</title>
</head>

<body>
<div th:insert="header :: head"></div>
<table>
    <thead>
    <th>ID</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Roles</th>
    </thead>
    <tr th:each="user:${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <div th:each="role:${user.roles}">
                <p th:text="${role.name}"></p>
                <p th:text="${role.id}"></p>
            </div>
        </td>
        <td>
            <form th:action="@{/admin/user/list}" method="post">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="hidden" name="action" value="delete"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/}">Вернуться на главную</a>
</body>
</html>