<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Список сотрудников</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header :: head"></div>
<form>
    <form th:action="@{/admin/employee/list}" method="get">
        <input type="hidden" name="action" value="add"/>
        <button type="submit">Добавить нового сотрудника</button>
    </form>
</form>
<div th:if="${hasErrors}">
    <h1 th:text="${error}"></h1>
</div>
<table>
    <thead>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>E-mail</th>
        <th>Паспорт</th>
        <th>Должность</th>
        <th>Телефон</th>
        <th>Дата рождения</th>
        <th>Подробно</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </thead>
    <tr th:each="employee:${allEmployees}">
        <td th:text="${employee.user_id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="*{employee.passport}"></td>
        <td th:text="*{employee.position}"></td>
        <td th:text="*{employee.phone}"></td>
        <td th:text="*{employee.birthday}"></td>
        <td>
            <form th:action="@{/admin/employee/list}" method="get">
                <input type="hidden" name="id" th:value="${employee.user_id}"/>
                <input type="hidden" name="action" value="get"/>
                <button type="submit">Подробно</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/employee/list}" method="get">
                <input type="hidden" name="id" th:value="${employee.user_id}"/>
                <input type="hidden" name="action" value="update"/>
                <button type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/employee/list}" method="get">
                <input type="hidden" name="id" th:value="${employee.user_id}"/>
                <input type="hidden" name="action" value="delete"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>