<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Добавить продукт/услугу</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header :: head"></div>
<form action="#" th:action="@{/admin/consumption/addProp}" method="post">
    <input type="hidden" name="id" th:value="${id}"/>
    <label>Продукт/Услуга: </label><select name="item_id">
        <option th:each="prod : ${allProducts}"
                th:value="${prod.id}"
                th:text="${prod.name}">
        </option>
    </select><br/>
    <button type="submit">Добавить</button>
</form>
</body>
</html>