<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Накладная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header :: head"></div>
<h3>Id: <span th:text="${theConsumption.id}"></span></h3>
<h3>Дата: <span th:value="${theConsumption.date}"></span></h3>
<h3>Закрыта:         <span th:switch="${theConsumption.isClosed()}">
    <span th:case="${true}">Да</span>
    <span th:case="*">Нет</span>
</span></h3>
<h3>Полная стоимость: <span th:text="${theConsumption.getTotalCost()}"></span></h3>
<br/>
<h3>Поставщик: <span th:value="${theConsumption.provider.name}"></span></h3>
<span>
    <h3>Список товаров</h3>
    <p th:each="prod:${theConsumption.products}">
        <lable>Товар: </lable><span th:text="${prod.name}"></span>
        <lable> Количество: </lable><span th:text="${prod.count}"></span>
        <lable> Цена: </lable><span th:text="${prod.price}"></span>
    </p>
</span>
</body>
</html>