<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Админ-панель</title>
</head>

<body>
<div th:insert="header :: head"></div>
<label>ID</label><p th:text="${theCustomer.user_id}"></p>
<label>UserName</label><p th:text="${theCustomer.firstName + ' ' + theCustomer.lastName}"></p>
<label>Добавление подписки:</label><br/>
<form th:action="@{/admin/bought/add}" method="post">
    <label>Курс: </label><select name="courseId">
    <option th:each="course : ${allCourses}"
            th:value="${course.id}"
            th:text="${course.name}">
    </option>
</select><br/>
    <input type="hidden" name="userId" th:value="${theCustomer.user_id}"/>
    <button type="submit">Добавить новую подписку</button>
</form>
</body>
</html>