<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Изменение курса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header :: head"></div>
<h1>Изменение курса: </h1>
<table>
    <thead>
    <th>Наименование</th>
    <th>Главный преподаватель</th>
    <th>Стоимость</th>
    <th>Краткое описание</th>
    </thead>
    <tr>
        <td th:text="${theCourse.name}"></td>
        <td>Вы</td>
        <td th:text="${theCourse.cost}"></td>
        <td th:text="${theCourse.info}"></td>
    </tr>
</table>
<form th:action="@{/instructor/changeTopic}" method="get">
    <input type="hidden" name="id" th:value="${theCourse.id}"/>
    <input type="hidden" name="action" value="add"/>
    <button type="submit">Добавить новую тему</button>
</form>
<div th:if="${theCourse.getTopics()!=null}">
    <div th:each="topic:${theCourse.getTopics()}">
        <label>Тема: </label>
        <div th:text="${topic.name}"></div>
        <form th:action="@{/instructor/changeTopic}" method="get">
            <input type="hidden" name="id" th:value="${topic.id}"/>
            <input type="hidden" name="action" value="update"/>
            <button type="submit">Изменить</button>
        </form>
        <form th:action="@{/instructor/changeTopic}" method="get">
            <input type="hidden" name="id" th:value="${topic.id}"/>
            <input type="hidden" name="action" value="delete"/>
            <button type="submit">Удалить</button>
        </form>
    </div>
</div>
</body>
</html>