<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Список поставщиков</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header :: head"></div>
<form th:action="@{/admin/provider/list}" method="get">
    <input type="hidden" name="action" value="add"/>
    <button type="submit">Добавить нового поставщика</button>
</form>
<div th:if="${hasErrors}">
    <h1 th:text="${error}"></h1>
</div>
<table>
    <thead>
    <th>Id</th>
    <th>Наименование</th>
    <th>Фдрес</th>
    <th>Телефон</th>
    <th>ИНН</th>
    <th>Изменить</th>
    <th>Удалить</th>
    </thead>
    <tr th:each="provider:${allProviders}">
        <td th:text="${provider.id}"></td>
        <td th:text="${provider.name}"></td>
        <td th:text="${provider.address}"></td>
        <td th:text="${provider.phone}"></td>
        <td th:text="*{provider.inn}"></td>
        <td>
            <form th:action="@{/admin/provider/list}" method="get">
                <input type="hidden" name="id" th:value="${provider.id}"/>
                <input type="hidden" name="action" value="update"/>
                <button type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/provider/list}" method="get">
                <input type="hidden" name="id" th:value="${provider.id}"/>
                <input type="hidden" name="action" value="delete"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>