<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Админ-панель</title>
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>Вы прошли проверку</h1>
    </div>
    <div sec:authorize="!hasRole('ROLE_ADMIN')">
        <h1>Вы НЕ прошли проверку</h1>
    </div>
</div>
<div sec:authorize="!isAuthenticated()">
    <p>Вы не авторизованы! </p><a th:href="@{/login}">Войдите</a>
</div>
<a th:href="@{/}">Вернуться на главную</a>
</body>
</html>