<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div id="header" th:fragment="head">
    <div>
        Для всех
        <a th:href="@{/index}">Главная </a>
        <a th:href="@{/login}">Логин </a>
        <a th:href="@{/registration}">Регистрация </a>
        <a th:href="@{/logout}">Выйти </a>
    </div>
    <br/>
    <div>
        Пользователь
        <a th:href="@{/customer/profile}">Профиль </a>
        <a th:href="@{/customer/listCourses}">Все курсы </a>
        <a th:href="@{/customer/buy}">Приобретение курсов </a>
    </div>
    <br/>
    <div>
        Преподаватель
        <a th:href="@{/employee/profile}">Профиль </a>
        <a th:href="@{/instructor/listCourses}">Редактирование курсов </a>
    </div>
    <br/>
    <div>
        Отдел продаж
        <a th:href="@{/employee/profile}">Профиль </a>
        <a th:href="@{/sales_dep/product/change}">Добавить товар </a>
        <a th:href="@{/sales_dep/listIncome}">Приход </a>
        <a th:href="@{/sales_dep/listConsumption}">Закупки </a>
    </div>
    <br/>
    <div>
        Бухгалтерия
        <a th:href="@{/employee/profile}">Профиль </a>
        <a th:href="@{/accountant/product/change}">Добавить товар </a>
        <a th:href="@{/accountant/writeoff/list}">Списание </a>
        <a th:href="@{/accountant/makeReport}">Составить бухгалтерский отчет </a>
    </div>
    <br/>
    <div>
        Администрация
        <a th:href="@{/admin/user/list}">Пользователи </a>
        <a th:href="@{/admin/role/list}">Роли </a>
        <a th:href="@{/admin/customer/list}">Клиенты </a>
        <a th:href="@{/admin/employee/list}">Сотрудники </a>
        <br/>
        ↵Дополнительно:
        <a th:href="@{/admin/provider/list}">Поставщики </a>
        <a th:href="@{/admin/product/list}">Продукты </a>
        <br/>
        ↵Накладные:
        <a th:href="@{/admin/writeoff/list}">Списание </a>
        <a th:href="@{/admin/income/list}">Приход </a>
        <a th:href="@{/admin/consumption/list}">Закупка </a>
        <br/>
        ↵Курсы:
        <a th:href="@{/admin/course/list}">Курсы </a>
        <a th:href="@{/admin/bought/list}">Подписки </a>
    </div>
</div>
</body>
</html>