<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Оформление подписки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header :: head"></div>
<h1>Здесь будет страница с оплатой</h1>
<h1>Пока посчитаем, что оплата прошла успешно</h1>
<a th:href="@{/customer/listCourses}">Перейти к моим курсам</a>
</body>
</html>